<div class="send_message">
  <h2>メッセージ</h2>
  <%= render 'messages/form', message: @message %>
  

</div>  
    <% user = User.find_by(id: @message.receive_id) %>
    <% @messages.each do |message| %>
      <div class="media-body">
    
        <div>
          <% if message.user.icon? %>
            <img src=<%= message.user.icon %> class = "post_icon_image" alt="icon" >
          <% else %>
              <%= image_tag "icon.png", class: "post_icon_image", alt: "icon" %>
          <% end %>
          <%= link_to message.user.name, user_path(message.user) %> <span class="text-muted"> <%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div class="message-content">
          <%= safe_join(message.content.split("\n"),tag(:br)) %><br>
        </div>
      </div>
    <hr>
    <%= paginate @messages %>
    <% end %>



