<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      
      <div class="icon">
        <% if @user.icon? %>
          <img src=<%= @user.icon %> class = "icon_image" alt = "icon">
        <% else %>
          <%= image_tag "icon.png", class: "icon_image", alt: "icon" %>
        <% end %>
      </div>
      <div class="card-body">
        <p> 対局場所 : <%= @user.battle_app %> </p>
        <p> 棋力 : <%= @user.kiryoku %> </p>
        <p class="profile"> <%= @user.profile %> </p>
        <% if current_user == @user %>
          <%= link_to "プロフィールの編集", edit_user_path(@user), class: "btn btn-outline-secondary"%>
        <% end %>
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><span class="badge badge-secondary"><%= @count_posts %></span> 投稿</a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>"><span class="badge badge-secondary"><%= @count_followings %></span> フォロー  </a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>"><span class="badge badge-secondary"><%= @count_followers %></span> フォロワー</a></li>
      <% if current_user == @user %>
      <li class="nav-item"><a href="<%= messages_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(messages_user_path(@user)) %>">受信メッセージ  <span class="badge badge-secondary"></span></a></li>
      <% else %>
      <li class="nav-item"><a href="<%= user_message_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_message_path(@user)) %>"><i class="fas fa-envelope"></i>  <span class="badge badge-secondary"></span></a></li>
      <% end %>
    </ul>
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>