<h1><%= @category.content %>で戦いたい人の集まり</h1>

 <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
           
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          <%= f.hidden_field :category_id, value: @category.id %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>